@use '../colors';

// TODO: extract to nautilus specific stylesheet, since this will be removed from gtk because only nautilus uses it
placessidebar  {
  background: colors.$background-1;

  list {
    background: transparent;

    row {
      &:hover {
        background: colors.$button-bg;
      }

      .sidebar-icon {
        margin: 0 10px;
      }
    }
  }

  &.frame, .frame {
    border: 0;
  }
}
